.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
}
.active{
  background-color: #422ad5;
  color: white;
}
.gap{
  display: flex;
  gap: 2;
}